@charset "UTF-8";

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Animations */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}


/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basic */

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #fff url("images/footer_lodyas.png") fixed repeat top left;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #414f57;
    font-size: 14pt;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

body:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    opacity: 0;
    z-index: 1;
    -moz-transition: opacity 1.75s ease-out;
    -webkit-transition: opacity 1.75s ease-out;
    -ms-transition: opacity 1.75s ease-out;
    transition: opacity 1.75s ease-out;
}


/* Type */

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 10pt;
        line-height: 1.75;
    }

}

a {
    -moz-transition: color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease;
    color: inherit;
    text-decoration: none;
}

a:before {
    -moz-transition: color 0.2s ease, text-shadow 0.2s ease;
    -webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
    -ms-transition: color 0.2s ease, text-shadow 0.2s ease;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

a:hover {
    color: #333333;
}

strong, b {
    color: #313f47;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 1.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #313f47;
    line-height: 1.5;
    margin: 0 0 0.75em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.85em;
    letter-spacing: 0.22em;
    margin: 0 0 0.525em 0;
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 1.65em;
    }

}

/* Icon */

.icon {
    text-decoration: none;
    position: relative;
    border-bottom: none;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* List */

ol {
    list-style: decimal;
    margin: 0 0 1.5em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 1.5em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px #c8cccf;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: -0.675em;
}

ul.icons li {
    display: inline-block;
    padding: 0.675em 0.5em;
}

ul.icons li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: solid 1px #c8cccf;
    line-height: 3.75em;
    overflow: hidden;
    text-align: center;
    text-indent: 3.75em;
    white-space: nowrap;
}

ul.icons li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.icons li a:hover:before {
    text-shadow: 1.25px 0px 0px #ddd;
}

ul.icons li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 1.85rem;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

ul.icons li a:hover {
    border-color: #bbb;
}

@media screen and (max-width: 480px) {

    ul.icons li a:before {
        font-size: 1.5rem;
    }

}

/* Main */

#main {
    position: relative;
    max-width: 100%;
    min-width: 27em;
    padding: 4.5em 3em 3em 3em;
    background: #f2f2f2;
    border-radius: 4px;
    cursor: default;
    text-align: center;
}

#main .avatar {
    position: relative;
    display: block;
    margin-bottom: 1.5em;
}

#main .avatar img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 0 1.5em #f2f2f2;
}

#main .avatar:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -3em;
    width: calc(100% + 6em);
    height: 1px;
    z-index: -1;
    background: #c8cccf;
}

@media screen and (max-width: 480px) {

    #main {
        min-width: 0;
        width: 100%;
        padding: 4em 2em 2.5em 2em;
    }

    #main .avatar:before {
        left: -2em;
        width: calc(100% + 4em);
    }

}

/* Footer */

#footer {
    -moz-align-self: -moz-flex-end;
    -webkit-align-self: -webkit-flex-end;
    -ms-align-self: -ms-flex-end;
    align-self: flex-end;
    width: 100%;
    padding: 1.5em 0 0 0;
    color: rgba(255, 255, 255, 0.75);
    cursor: default;
    text-align: center;
}

#footer .credits {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    list-style: none;
}

#footer .credits li {
    display: inline-block;
    margin: 0 0 0 0.45em;
    padding: 0 0 0 0.85em;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    line-height: 1;
}

#footer .credits li:first-child {
    border-left: 0;
}

/* Wrapper */

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
    z-index: 2;
}

#wrapper > * {
    z-index: 1;
}

#wrapper:before {
    content: '';
    display: block;
}

@media screen and (max-width: 360px) {

    #wrapper {
        padding: 0.75em;
    }

}